/* Custom CSS - Generated on 01/13/2026 14:36:18 */

.e-wrapper{margin-top:10px!important;}
#makeEndorsement{padding-top:0!important; margin-top:10px!important; margin-bottom:10px!important;}
hr { margin:5px auto!important;}