<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>www.repealparkingban.org Events Feed</title>
    <link>https://www.repealparkingban.org/rss/events.xml</link>
    <description>Events Feed</description>
    <language>en-us</language>
    <pubDate>Tue, 13 Jan 2026 19:36:17 GMT</pubDate>
  </channel>
</rss>